/************************************************************************************
smaller than 1366
*************************************************************************************/
@media screen and (max-width: 1366px) {

}
/************************************************************************************
smaller than 1280
*************************************************************************************/
@media screen and (max-width: 1280px) {



}


/************************************************************************************
smaller than 1024
*************************************************************************************/

}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {

.logo {
    float: left;
    width: 100%;
    text-align: center;
}
.phne_sect {
    float: left;
    text-align: center !important;
    margin: 8px 0 0;
    width: 100%;
}

.phne_sect h4 {
    float: left;
    width: 100%;
    color: #414141;
    font-family: 'MyriadProRegular';
    font-size: 18px;
    margin: 9px 0 0;
    text-align: center;
}
.phne_sect h2 {
    float: left;
    width: 100%;
    color: #414141;
    text-transform: uppercase;
    font-family: 'MyriadPro-Bold';
    font-size: 20px;
    text-align: center;
}
.add_section {
    float: left;
    margin: 18px 0;
    width: 100%;
    text-align: center;
}
.add_box {
    float: left;
    width: 100%;
    margin: 6px 0;
}




}

/************************************************************************************
smaller than 767
*************************************************************************************/

@media screen and (max-width: 640px) {


}
/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
.logo {
    float: left;
    width: 100%;
    text-align: center;
}



}

/************************************************************************************
smaller than 414
*************************************************************************************/

@media screen and (max-width: 414px) {
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product
{
	width:100% !important
}



}
/************************************************************************************
smaller than 360
*************************************************************************************/
@media screen and (max-width: 360px) {




}
/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {




}